.react-native {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: var(--primary-color);

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &-block {
    height: 80vh;
    overflow: scroll;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
