.html{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container{
        width:1250px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}