.contact-form{
    display: flex;
    &__title{
       margin-bottom: 20px;
       font-size: 24px;
       text-transform: uppercase;
       color:rgb(122, 122, 122);
    }
    &__container{
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        align-items: center;
    }

    &__fields{
        display: flex;
        width: 60%;
        align-items: center;
        justify-content:center;
        margin: 10px 0px; 
        background: rgba(255, 255, 255, 0.616);   
        border-radius: 8px; 
    }
    &__info,
    &__legend{
        margin:20px 0px;
        padding: 0;
        color:rgb(94, 94, 94);
        font-weight: 500;
        font-size:18px;
        font-weight: 400;
        
    }
    &__icon{
        font-size: 30px;
        color: rgb(94, 94, 94);
        margin-right: 10px;
        
    }

    @media (max-width: 768px ) {
        &__fields{
            width:100%;
        }
        &__info,
        &__legend{
            font-size:16px;
        }
        &__icon{
            font-size:20px;
        }
        
    }
    @media (max-width: 425px ) {
        &__fields{
            padding: 0px 20px;
            width:100%;
            margin: 4px 0px;
            align-items:center;
            justify-content:center;
        }
        &__info,
        &__legend{
            font-size:14px;
            text-align: center;
        }
        &__icon{
            font-size:20px;
        }
        
    }
}