.header {
    display: flex;
    height:10vh;
    width:100%;
    align-items: center;
    justify-content: center;
    position: absolute;

    &__navbar{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #747474;
    }
    &__link{
        font-size:16px;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0px 20px;
        font-weight: 400;
        letter-spacing:2px; 
        color: #747474;
        transition: all .3s ease-in;
        &:hover{
            font-weight: 600;
            letter-spacing:4px;
            color: rgb(255, 255, 255);
            text-shadow: 0px 0px 2px black 
        }

    }
  }
  