.header {
    display: flex;
    height:10vh;
    width:100%;
    align-items: center;
    justify-content: center;
    position: absolute;

    &__navbar{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: var(--text-color);
    }
    &__link{
        font-size:16px;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0px 20px;
        font-weight: 400;
        letter-spacing:2px; 
        color: var(--text-color);
        transition: all .3s ease-in;
        &:hover{
            font-weight: 600;
            letter-spacing:4px;
            color: rgb(255, 255, 255);
            text-shadow: 0px 0px 2px black 
        }

    }
    &__language{
        // position: absolute;
        right: 0;
        font-size: 26px;
        border: none;
        background: none;
    }
    &__flag{
        width: 40px
    }
    &__language-container{
        position: absolute;
        right: 0;
        display: flex;
        margin-right: 30px;
    }
  }
  .back-btn {
      position: absolute;
      left: 0;
      margin-left: 30px;
      font-size: 26px;

      @media (max-width: 768px) {
          font-size:18px
          
      }
  }
  