.webcard{
    margin: 6px;
    overflow: hidden;
    filter: drop-shadow(-1px 0px 2px var(--shadow-color));
    border:none;

    &__img-container{
        height:100%;
        
    }
    &__info{
        display:flex;
        width: 100%;
        align-items: center;
        height: 16%;
        justify-content: center;
        flex-direction: column;
    }
    &__thumb{
        width:100%;
        object-fit: cover;
        object-position: center;
        
    }
    &__title{
        color: var(--text-color);
        font-size: 20px;
        margin: 0;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__text{
        color: var(--text-color);
        font-size: 16px;
    }
    &__links{
        text-decoration: none;
        color: var(--text-color);
        font-size:16px;
        margin:0;
    }
    &__links-container{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    

    }
    &__navlink{
        overflow: hidden;
        width:100%;
        
    }
    &__footer{
        font-size:16px;
        color: var(--text-color);
    }

    
    @media (max-width: 768px) {
       
    
        &__links{
            font-size:12px;
            // padding:10px 0px;
            margin: 0px 10px;
            line-height: 10px;
        }
        &__title{
            font-size:16px;
        }
      
       
        
    }
    @media (max-width: 540px) {
        height:auto;
        
     
         &__links{
             font-size:12px;
             // padding:10px 0px;
             margin: 0px 10px;
         }
         &__title{
             font-size:16px;
         }
         &__navlink{
             height: 44%;
         }
         &__footer{
             font-size:12px
         }
       
        
         
     }

}