.react {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &-block {
    height: 80vh;
    overflow: scroll;
    padding-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  @media (max-width: 425px) {
    &-block {
      align-items: flex-start;
      padding-top: 20px;
    }
  }
}
