.portfolio{
    height:100vh;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    background: var(--primary-color);

    &-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }
    &__links{
        text-decoration: none;
    }
}